<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\Administrateur\Desktop\QA WEB DEPLOY PACKAGES APPS\ESBOnline WDP\ESBOnline.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>ESBOnline\ESBOnline</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnectionString1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=localhost:1521/orcl;PERSIST SECURITY INFO=True;USER ID=SCOESB03;PASSWORD=scoesb03" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=localhost:1521/orcl;PERSIST SECURITY INFO=True;USER ID=SCOESB03;PASSWORD=scoesb03" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnectionString2" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=localhost:1521/orcl;PERSIST SECURITY INFO=True;USER ID=SCOESB03;PASSWORD=scoesb03" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=localhost:1521/orcl;PERSIST SECURITY INFO=True;USER ID=SCOESB03;PASSWORD=scoesb03" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=localhost:1521/orcl;PERSIST SECURITY INFO=True;USER ID=SCOESB03;PASSWORD=scoesb03" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=localhost:1521/orcl;PERSIST SECURITY INFO=True;USER ID=SCOESB03;PASSWORD=scoesb03" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnetdb.mdf;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString55" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=192.168.0.77:1521/orcl;PASSWORD=sco_admis1415;PERSIST SECURITY INFO=True;USER ID=sco_admis1415" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString55_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=192.168.0.77:1521/orcl;PASSWORD=sco_admis1415;PERSIST SECURITY INFO=True;USER ID=sco_admis1415" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString2" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=localhost:1521/orcl;PASSWORD=admis1718;PERSIST SECURITY INFO=True;USER ID=admis_esb" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=localhost:1521/orcl;PASSWORD=admis1718;PERSIST SECURITY INFO=True;USER ID=admis_esb" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString3" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=localhost:1521/orcl ;PASSWORD=scoesb03;USER ID=SCOESB03" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=localhost:1521/orcl ;PASSWORD=scoesb03;USER ID=SCOESB03" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString5" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=localhost:1521/orcl;PASSWORD=admis1718;PERSIST SECURITY INFO=True;USER ID=ADMIS_esb" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString5_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=localhost:1521/orcl;PASSWORD=admis1718;PERSIST SECURITY INFO=True;USER ID=ADMIS_esb" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=localhost:1521/orcl;PASSWORD=scoesb03;PERSIST SECURITY INFO=True;USER ID=SCOESB03" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=localhost:1521/orcl;PASSWORD=scoesb03;PERSIST SECURITY INFO=True;USER ID=SCOESB03" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities1" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=localhost:1521/orcl;PASSWORD=admis1718;USER ID=admis_esb" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/orcl;PASSWORD=admis1718;USER ID=admis_esb&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=localhost:1521/orcl;PASSWORD=scoesb03;PERSIST SECURITY INFO=True;USER ID=SCOESB03" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/InscriptionModel.csdl|res://*/InscriptionModel.ssdl|res://*/InscriptionModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/orcl;PASSWORD=scoesb03;PERSIST SECURITY INFO=True;USER ID=SCOESB03&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="session2" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=192.168.0.77:1521/orcl;PASSWORD=scoesb03;PERSIST SECURITY INFO=True;USER ID=SCOESB03" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\session2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/session2.csdl|res://*/session2.ssdl|res://*/session2.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=192.168.0.77:1521/orcl;PASSWORD=scoesb03;PERSIST SECURITY INFO=True;USER ID=SCOESB03&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="maha" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.147;Initial Catalog=ESPRIT_NAV_PROD;Persist Security Info=True;User ID=userdsi;Password=Dsi2017" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\maha_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.147;Initial Catalog=ESPRIT_NAV_PROD;Persist Security Info=True;User ID=userdsi;Password=Dsi2017" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationServices-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString5-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString55-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnectionString1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnectionString2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)maha-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)session2-Web.config Connection String" />
  </ItemGroup>
</Project>