<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
    <add name="session2" connectionString="metadata=res://*/session2.csdl|res://*/session2.ssdl|res://*/session2.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.0.0.5:1521/dbesb23;PASSWORD=Esp#hnrs#tbl21;PERSIST SECURITY INFO=True;USER ID=SCOESB03&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/InscriptionModel.csdl|res://*/InscriptionModel.ssdl|res://*/InscriptionModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.0.0.5:1521/dbesb23;PASSWORD=Esp#hnrs#tbl21;USER ID=SCOESB03&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>