<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <remove invariant="MySql.Data.MySqlClient" /><add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" /></DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="DefaultConnectionString1" connectionString="DATA SOURCE=192.168.3.13:1521/bdesp10n;PERSIST SECURITY INFO=True;USER ID=SCOESB03;PASSWORD=SCOESB03" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="DefaultConnectionString" connectionString="DATA SOURCE=192.168.3.13:1521/bdesp10n;PERSIST SECURITY INFO=True;USER ID=SCOESB03;PASSWORD=SCOESB03" providerName="Oracle.ManagedDataAccess.Client" />
   
    
    
    <add name="DefaultConnectionString" connectionString="DATA SOURCE=192.168.3.13:1521/bdesp10n;PERSIST SECURITY INFO=True;USER ID=SCOESB03;PASSWORD=SCOESB03" providerName="Oracle.ManagedDataAccess.Client" />
    
    <add name="DefaultConnectionString2" connectionString="DATA SOURCE=192.168.3.13:1521/bdesp10n;PERSIST SECURITY INFO=True;USER ID=SCOESB03;PASSWORD=SCOESB03" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ConnectionString" connectionString="DATA SOURCE=192.168.3.13:1521/bdesp10n;PASSWORD=SCOESB03;PERSIST SECURITY INFO=True;USER ID=SCOESB03" providerName="Oracle.ManagedDataAccess.Client" />
    <!--<add name="ConnectionString2" connectionString="DATA SOURCE=192.168.0.77:1521/bdesp10n;PASSWORD=admis1718;PERSIST SECURITY INFO=True;USER ID=admis_esb" providerName="Oracle.ManagedDataAccess.Client" />-->
    <add name="ConnectionString2" connectionString="DATA SOURCE=192.168.0.225:1521/bdesb10g;PASSWORD=New#Admiesb$23;PERSIST SECURITY INFO=True;USER ID=admis_esb" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="Entities" connectionString="metadata=res://*/InscriptionModel.csdl|res://*/InscriptionModel.ssdl|res://*/InscriptionModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=192.168.3.13:1521/bdesp10n;PASSWORD=SCOESB03;PERSIST SECURITY INFO=True;USER ID=SCOESB03&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="moodle" connectionString="DATA SOURCE=172.16.20.15:3306/moodle;PERSIST SECURITY INFO=True;USER ID=esprit;PASSWORD=Esprit2022+" providerName="System.Data.SqlClient" />-->
   <!--<add name="moodle" connectionString="DATA SOURCE=172.16.20.15:3306/moodle2;Initial Catalog=moodle2;USER ID=esprit;PASSWORD=Esprit2022+" providerName="MySql.Data.MySqlClient" />--><!--MySql.Data.MySqlClient-->
    <!-- <add name="moodle2" connectionString="DATA SOURCE=172.16.20.15;Initial Catalog=moodle;PERSIST SECURITY INFO=True;USER ID=esprit;PASSWORD=Esprit2022+" providerName="System.Data.SqlClient" />-->
    <!--<add name="MyConnectionString"  connectionString="Data Source=172.16.20.15; Initial Catalog=moodle2; User ID=esprit;Password=Esprit2022+" providerName="System.Data.SqlClient" />-->
  
    <add name="session2" connectionString="metadata=res://*/session2.csdl|res://*/session2.ssdl|res://*/session2.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=192.168.0.77:1521/bdesp10n;PASSWORD=SCOESB03;PERSIST SECURITY INFO=True;USER ID=SCOESB03&quot;" providerName="System.Data.EntityClient" />



    <!--<add name="maha" connectionString="Data Source=192.168.0.218;Initial Catalog=ESPRIT_NAV_PROD;Persist Security Info=True;User ID=userdsi;Password=Dsi2017" providerName="System.Data.SqlClient" />-->
    <add name="maha" connectionString="Data Source=192.168.0.147;Initial Catalog=ESPRIT_NAV_PROD;Persist Security Info=True;User ID=userdsi;Password=Dsi2017" providerName="System.Data.SqlClient" />

    <add name="Entities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=192.168.3.13:1521/bdesp10n;PASSWORD=admis1718;USER ID=admis_esb&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString3" connectionString="DATA SOURCE=192.168.3.13:1521/bdesp10n ;PASSWORD=SCOESB03;USER ID=SCOESB03" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ConnectionString5" connectionString="DATA SOURCE=192.168.3.13:1521/bdesp10n;PASSWORD=admis1718;PERSIST SECURITY INFO=True;USER ID=ADMIS_esb" providerName="Oracle.ManagedDataAccess.Client" />
   <add name="ConnectionString55" connectionString="DATA SOURCE=192.168.0.77:1521/bdesp10n;PASSWORD=sco_admis1415;PERSIST SECURITY INFO=True;USER ID=sco_admis1415" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!--<add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />-->
<!--<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <remove name="ChartImageHandler" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <!--<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>

	<security>
		<requestFiltering>
			<requestLimits maxAllowedContentLength="1073741824" />
		</requestFiltering>
	</security>
	  
  </system.webServer>
  <system.web>
	<httpRuntime maxRequestLength="1048576" />
  <customErrors mode="Off" />
    <httpHandlers>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler" validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WinForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="288000" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="myerror.htm" />-->
    <sessionState timeout="120" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.7.1005" newVersion="4.1.7.1005" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.8.0" newVersion="6.8.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.1.0" newVersion="4.122.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>